.button {
    width: 200px;
    height: 200px;
    background:linear-gradient(130deg, #646265, #101010);
    box-shadow:
      -2px -2px 1px 3px #1b1b1b,
      2px 2px 1px 2px #686868,
      -12px -12px 15px #605e61,
      12px 12px 15px #1b1b1b
      ;
    border-radius: 50%;
    transition: .2s ease;
  }

  .button-center {
    width: 80px;
    height: 80px;
    background:linear-gradient(130deg, #646265, #101010);
    box-shadow:
      0px 0px 5px 5px #323232,
      5px 4px 5px 1px #9b999c,
      -5px -5px 10px 5px #1b1b1b
      ;
    border: 3px solid #2d2d2d;
    border-radius: 50%;
    font-size: 42px;
    color: #9b999c;
    transition: .7s ease;
  }

  .button:active {
    box-shadow:
      -0px -0px 1px 3px #1b1b1b,
      0px 0px 1px 2px #686868,
      -3px -3px 15px #605e61,
      3px 3px 15px #1b1b1b
      ;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
  }

  input:active, input:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
    outline-width: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  }

  input[type=checkbox]:checked ~ .button-center {
    color: #49fb35;
    box-shadow:
      0px 0px 10px 2px #49fb35,
      0px 0px 5px 5px #323232,
      5px 4px 5px 1px #9b999c,
      -5px -5px 10px 5px #1b1b1b
      ;
  }

  body {
    width: 100%;
    height: 100vh;
    background:linear-gradient(120deg, #413f42, #2d2d2d);
    display: flex;
    justify-content: center;
    align-items: center;
  }